# ***Visualisations***

####

### **Importing Libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### **Loading Dataset**

In [3]:
df = pd.read_csv("cleaned_dataset.csv")

In [4]:
df.head()

   Unnamed: 0  GRE  TOEFL  Rating  SOP  LOR   CGPA  Research  Chance
0           0  337    118       4  4.5   4.5  9.65         1    0.92
1           1  324    107       4  4.0   4.5  8.87         1    0.76
2           2  316    104       3  3.0   3.5  8.00         1    0.72
3           3  322    110       3  3.5   2.5  8.67         1    0.80
4           4  314    103       2  2.0   3.0  8.21         0    0.65

In [5]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [6]:
df.head()

   GRE  TOEFL  Rating  SOP  LOR   CGPA  Research  Chance
0  337    118       4  4.5   4.5  9.65         1    0.92
1  324    107       4  4.0   4.5  8.87         1    0.76
2  316    104       3  3.0   3.5  8.00         1    0.72
3  322    110       3  3.5   2.5  8.67         1    0.80
4  314    103       2  2.0   3.0  8.21         0    0.65

### **Feature Importance**